body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}
.container1 {
    max-width: 1200px;
    margin: 50 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    /* -webkit-overflow-scrolling: touch; */
    margin-bottom: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center !important;
}
th {
    background-color: #2c3e50;
    color: #fff;
    
}
td {
    background-color: #f6f7f6;
}

@media (max-width: 600px){
    td input {
        width: 50px;
    }
}



.action-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
.action-btn:hover {
    background-color: #175927;
}
.total-row {
    background-color: #2c3e50;
    color: #fff;
}

.total-row td{
    color: #ffffff;
    background-color: #2c3e50;
    text-align: left !important;
}
.install-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
.install-btn:hover {
    background-color: #175927;
    color: white;
}
@media (max-width: 768px) {
    th, td {
        font-size: 12px;
        padding: 5px;
    }
    .action-btn, .install-btn {
        padding: 5px 10px;
    }
}