{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Residential Load Calculator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/LoadCalc.css' %}" />
  <!-- Linking Google Fonts for Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,200,0,0" />
  <!-- Linking Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- Favicon -->
  <link href="{% static 'images/favicon.png' %}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
    rel="stylesheet" />

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
 <!-- Spinner Start -->
 <div id="spinner"
 class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
 <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
     <span class="sr-only">Loading...</span>
 </div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-dark p-0">
  <div class="row gx-0 d-none d-lg-flex justify-content-end">
      <div class="col-auto px-5 text-end">
          <a href="{% url 'LoadCalc'%}" class="btn btn-square btn-link text-primary">
              <i class="fas fa-calculator fa-lg"></i>
          </a>
      </div>
  </div>
</div>

<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
 <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
     <img src="../static/images/genr png-01.png" alt="Solartec Logo" class="navbar-logo">
 </a>
 <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
     <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarCollapse">
     <div class="navbar-nav ms-auto p-4 p-lg-0">
         <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
         <a href="about" class="nav-item nav-link"  >About Us</a>
         <a href="project" class="nav-item nav-link"  >Projects</a>
         <a href="gallery" class="nav-item nav-link"  >Gallery</a>
         <div class="nav-item dropdown">
             <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="services"  >Our services</a>
             <div class="dropdown-menu bg-light m-0">
                 <a href="solar" class="dropdown-item">Genr Power</a>
                 <a href="automation" class="dropdown-item">Genr Automation</a>
                 <a href="cold_storage" class="dropdown-item">Genr Cold Storage</a>
                 {% comment %} <a href="genrsmart" class="dropdown-item">Genr Smart</a> {% endcomment %}
                
             </div>
         </div>
         <a href="contact" class="nav-item nav-link"  >Contact</a>
     </div>
     <a href="{% url 'request_service' %}" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Request
         For A Service<i class="fa fa-arrow-right ms-3"></i></a>
 </div>
</nav>
<!-- Navbar End -->


<body>
  <div class="container1 mt-5 ">
    <h1>Residential Load Calculator</h1>
    <table>
      <thead>
        <tr>
          <th>Appliances</th>
          <th>Units</th>
          <th>X</th>
          <th>Counts</th>
          <th>=</th>
          <th>Load</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="appliances-list">
        <tr>
          <td>Bulb</td>
          <td>5w, 7w, 9, 12, 25, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="bulb-x"
              onchange="handleLoadCalc(event.target.value,'bulb-x','bulb-counts','bulb-load')" type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="bulb-counts"
              onchange="handleLoadCalc(event.target.value,'bulb-counts','bulb-x','bulb-load')" type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="bulb-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Ceiling Fan</td>
          <td>50w, 55, 60, 70 other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="ceiling-x"
              onchange="handleLoadCalc(event.target.value,'ceiling-x','ceiling-counts','ceiling-load')" type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="ceiling-counts"
              onchange="handleLoadCalc(event.target.value,'ceiling-counts','ceiling-x','ceiling-load')" type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="ceiling-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Table Fan</td>
          <td>40w, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="table-fan-x"
              onchange="handleLoadCalc(event.target.value,'table-fan-x','table-fan-counts','table-fan-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="table-fan-counts"
              onchange="handleLoadCalc(event.target.value,'table-fan-counts','table-fan-x','table-fan-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="table-fan-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>TV</td>
          <td>150w, 200, 250, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="tv-x"
              onchange="handleLoadCalc(event.target.value,'tv-x','tv-counts','tv-load')" type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="tv-counts"
              onchange="handleLoadCalc(event.target.value,'tv-counts','tv-x','tv-load')" type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="tv-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Air Conditioner</td>
          <td>1 ton, 1.5, 2, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="air-conditioner-x"
              onchange="handleLoadCalc(event.target.value,'air-conditioner-x','air-conditioner-counts','air-conditioner-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="air-conditioner-counts"
              onchange="handleLoadCalc(event.target.value,'air-conditioner-counts','air-conditioner-x','air-conditioner-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="air-conditioner-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Washing Machine</td>
          <td>600, 700, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="whashing-machine-x"
              onchange="handleLoadCalc(event.target.value,'whashing-machine-x','whashing-machine-counts','whashing-machine-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="whashing-machine-counts"
              onchange="handleLoadCalc(event.target.value,'whashing-machine-counts','whashing-machine-x','whashing-machine-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="whashing-machine-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Water Pump</td>
          <td>1hp, 2, 3, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="water-pump-x"
              onchange="handleLoadCalc(event.target.value,'water-pump-x','water-pump-counts','water-pump-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="water-pump-counts"
              onchange="handleLoadCalc(event.target.value,'water-pump-counts','water-pump-x','water-pump-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="water-pump-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Geyser</td>
          <td>800w, 1000, 1500 other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="gyser-x"
              onchange="handleLoadCalc(event.target.value,'gyser-x','gyser-counts','gyser-load')" type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="gyser-counts"
              onchange="handleLoadCalc(event.target.value,'gyser-counts','gyser-x','gyser-load')" type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="gyser-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Heater</td>
          <td>550w, 750, 1000 other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="heater-x"
              onchange="handleLoadCalc(event.target.value,'heater-x','heater-counts','heater-load')" type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="heater-counts"
              onchange="handleLoadCalc(event.target.value,'heater-counts','heater-x','heater-load')" type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="heater-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Refrigerator</td>
          <td>60w, 80w, 100, 150 other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="refrigerator-x"
              onchange="handleLoadCalc(event.target.value,'refrigerator-x','refrigerator-counts','refrigerator-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="refrigerator-counts"
              onchange="handleLoadCalc(event.target.value,'refrigerator-counts','refrigerator-x','refrigerator-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="refrigerator-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Iron Box</td>
          <td>550w, 750, 1000 other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="iron-box-x"
              onchange="handleLoadCalc(event.target.value,'iron-box-x','iron-box-counts','iron-box-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="iron-box-counts"
              onchange="handleLoadCalc(event.target.value,'iron-box-counts','iron-box-x','iron-box-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="iron-box-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Mixer / Grinder</td>
          <td>150w, 200, 250, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="mixer-grinder-x"
              onchange="handleLoadCalc(event.target.value,'mixer-grinder-x','mixer-grinder-counts','mixer-grinder-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="mixer-grinder-counts"
              onchange="handleLoadCalc(event.target.value,'mixer-grinder-counts','mixer-grinder-x','mixer-grinder-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="mixer-grinder-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Lap Top / PC</td>
          <td>100w, 150, 200, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="laptop-pc-x"
              onchange="handleLoadCalc(event.target.value,'laptop-pc-x','laptop-pc-counts','laptop-pc-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="laptop-pc-counts"
              onchange="handleLoadCalc(event.target.value,'laptop-pc-counts','laptop-pc-x','laptop-pc-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="laptop-pc-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Microwave Oven</td>
          <td>1000, 1500, 2000, 3000 other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="microwave-ovan-x"
              onchange="handleLoadCalc(event.target.value,'microwave-ovan-x','microwave-ovan-counts','microwave-ovan-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="microwave-ovan-counts"
              onchange="handleLoadCalc(event.target.value,'microwave-ovan-counts','microwave-ovan-x','microwave-ovan-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="microwave-ovan-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Cooking Range</td>
          <td>5000w, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="cooking-range-x"
              onchange="handleLoadCalc(event.target.value,'cooking-range-x','cooking-range-counts','cooking-range-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="cooking-range-counts"
              onchange="handleLoadCalc(event.target.value,'cooking-range-counts','cooking-range-x','cooking-range-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="cooking-range-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Cloth Drier</td>
          <td>200w other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="cloth-driver-x"
              onchange="handleLoadCalc(event.target.value,'cloth-driver-x','cloth-driver-counts','cloth-driver-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="cloth-driver-counts"
              onchange="handleLoadCalc(event.target.value,'cloth-driver-counts','cloth-driver-x','cloth-driver-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="cloth-driver-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Stove</td>
          <td>750w, 1000w, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="stove-x"
              onchange="handleLoadCalc(event.target.value,'stove-x','stove-counts','stove-load')" type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="stove-counts"
              onchange="handleLoadCalc(event.target.value,'stove-counts','stove-x','stove-load')" type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="stove-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Mobile Phones</td>
          <td>5w, other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="mobile-phones-x"
              onchange="handleLoadCalc(event.target.value,'mobile-phones-x','mobile-phones-counts','mobile-phones-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="mobile-phones-counts"
              onchange="handleLoadCalc(event.target.value,'mobile-phones-counts','mobile-phones-x','mobile-phones-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="mobile-phones-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Other Equipments</td>
          <td>other</td>
          <td>
            <input class="text-center Rounded py-2 border" id="other-equipments-x"
              onchange="handleLoadCalc(event.target.value,'other-equipments-x','other-equipments-counts','other-equipments-load')"
              type="text" />
          </td>
          <td>
            <input class="text-center Rounded py-2 border" id="other-equipments-counts"
              onchange="handleLoadCalc(event.target.value,'other-equipments-counts','other-equipments-x','other-equipments-load')"
              type="text" />
          </td>
          <td>=</td>
          <td>
            <input class="text-center Rounded py-2 loadcalc-load" id="other-equipments-load" type="text" disabled />
          </td>
          <td>
            <button class="action-btn" onclick="addAppliances()">Add</button>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr class="total-row">
          <td colspan="5">Total Load in watts</td>
          <td>
            <input class="text-center Rounded py-2 total-load" id="total-load" type="text" disabled />
          </td>
          <td></td>
        </tr>
        <tr class="total-row">
          <td colspan="5">Required size of the plant in KW</td>
          <td>
            <input class="text-center Rounded py-2 total-load" type="text" id="total-load-in-kw" disabled />
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'request_service' %}" class="install-btn">Request For A Service</a>
  </div>

<!-- Footer Start -->
<div
class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn"
data-wow-delay="0.1s"
>
<div class="container py-5">
  <div class="row g-5">
    <div class="col-lg-3 col-md-6">
      <h5 class="text-white mb-4">Address</h5>
      <p class="mb-2">
        <i class="fa fa-map-marker-alt me-3"></i>Yem Yem Aar Arcade
        Malamal Junction
      </p>
      <p class="mb-2">
        <i class="fa fa-phone-alt me-3"></i>+91 9400420125
      </p>
      <p class="mb-2">
        <i class="fa fa-phone-alt me-3"></i>+91 9400420130
      </p>
      <p class="mb-2">
        <i class="fa fa-envelope me-3"></i>
        <a href="mailto:Info@genr.in" class="email-link">info@genr.in</a>
      </p>

      <div class="d-flex pt-2">
        <a
          class="btn btn-square btn-outline-light btn-social"
          href="https://www.facebook.com/profile.php?id=61571895401687"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="btn btn-square btn-outline-light btn-social"
          href="https://wa.me/+919400420130"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a
          class="btn btn-square btn-outline-light btn-social"
          href="http://www.instagram.com/genr_power/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          class="btn btn-square btn-outline-light btn-social"
          href="https://www.youtube.com/@GenrPower"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5 class="text-white mb-4">Quick Links</h5>
      <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
      <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
      <a class="btn btn-link" href="{% url 'project' %}">Projects</a>
      <a class="btn btn-link" href="{% url 'solar' %}">Solar Plants</a>
      <a class="btn btn-link" href="{% url 'gallery' %}">Our Gallery</a>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5 class="text-white mb-4">Our Services</h5>
      <a class="btn btn-link" href="{% url 'solar' %}">Solar Plants</a>
      <a class="btn btn-link" href="{% url 'automation' %}">Automation</a>
      <a class="btn btn-link" href="{% url 'cold_storage' %}">Cold Storage</a>
      <a class="btn btn-link" href="{% url 'genrsmart' %}">Genr Smart</a>
      <a class="btn btn-link" href="{% url 'request_service' %}">Request a Service</a>
    </div>
    <div class="col-lg-3 col-md-6">
      <h5 class="text-white mb-4">Find Us</h5>
      <div
        style="
          width: 100%;
          max-width: 300px;
          margin: auto;
          border-radius: 15px;
          overflow: hidden;
        "
      >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d31432.603850135623!2d76.3068416!3d10.010624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2sin!4v1735628082065!5m2!1sen!2sin"
          width="100%"
          height="200"
          style="border: 0; border-radius: 15px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="copyright">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        &copy; <a href="#">Genr</a>, All Right Reserved.
      </div>
      <div class="col-md-6 text-center text-md-end">
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        <a> Designed By N-Me 360</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer End -->

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
